*{
    margin: 0;
    padding-bottom: 50PX;
    font-family: 'Poppins', sans-serif; 
}
.banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
  background-position: center;
   background-size:cover;
   text-align: center;
   padding-bottom: 10%;
   padding-top: 10%;
}
.banner-titel{
   color: whitesmoke;
   font-size: 50px;
   font-weight: bold;
}
.banner p{
    color: aliceblue;
}
.banner a{
   text-decoration: none;
   padding: 10px 40px;
}
.donate-button{
    text-decoration: none;
    padding: 10PX 40px ;
    border-radius: 20PX;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-size: 25px;
}
.donate-today{
    text-align: center;
    padding-top: 8%;

}
.donate-today h1{
    font-size: 50px;  
}
.money{
    display: flex;
   justify-content: space-evenly;
   color: #707070;
   
 
}
#money-color-tomato{
    border: 2px solid tomato;
    border-radius: 10px;
    color:#FF5959;
    padding: 20px;
 
}