*{margin: 0;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}
section{
    text-align: center;
}
.banner{
   background-image: url(images/donation1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   text-align: center;
   padding-bottom: 10%;
   padding-top: 10%;
}
.banner-titel{
   color: whitesmoke;
   font-size: 50px;
   font-weight: bold;
}
.banner p{
    color: aliceblue;
    padding-left: 250px;
    padding-right: 250px;
}
.donate-button{
   text-decoration: none;
   border: none;
   padding: 10px 15px;
   border-radius: 20PX;
   background-image: linear-gradient(orange, tomato);
   color: white;
   font-size: 20px;
}

.donate-today{
    text-align: center;
}
.donate-today p{
padding-left: 250px;
padding-right: 250px;
}
section h1{
    font-size: 50px;  
}
.our-dunate {
    padding-left: 250px;
    padding-right: 250px;
}
.money{
    display: flex;
   justify-content: space-evenly;
   color: #707070;
}
.input-style{
    Width :450px;
    height: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 10px;
}
.card-width img{
    height: 50px;
    width: 50px;
}
#money-color-tomato{
    background-color: rgba(255, 127, 80, 0.626);
    border: 2px solid tomato;
    border-radius: 10px;
    color:#FF5959;
    padding: 10px 20px;
}
.donate-updats {
    padding-left: 250px;
    padding-right: 250px;
}
.input-donate{
    padding-top: 15px;   
}

.card-info{
    display: flex;
    margin-top: 50px;
}
.card-width{
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{ 
    width: 80%;
    border-radius: 20PX;
}
.donation{
    display: flex;
    margin-top: 15%;
}
footer{
    height: 150PX;
    width: 100%;
    background-color:  #0B0D17;
    text-align: center;
}
.help-titel{
    padding-top: 30px;
    font-size: 40px;
    font-style: italic;
    color: #FF5959;
}
.copyright{
    color: floralwhite;
}