*{
    font-family: 'Poppins', sans-serif;
}
section{
    text-align: center;
}
.banner{
   background-image: url(images/donation1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   text-align: center;
   padding-bottom: 10%;
   padding-top: 10%;
}
.banner-titel{
   color: whitesmoke;
   font-size: 50px;
   font-weight: bold;
}
.banner p{
    color: aliceblue;
}
.donate-button{
   text-decoration: none;
   margin-bottom: 200px;
   padding: 10px 20px;
   border-radius: 20PX;
   background-image: linear-gradient(orange, tomato);
   color: white;
   font-size: 25px;
}

.donate-today{
    text-align: center;
}
section h1{
    font-size: 50px;  
}
.money{
    display: flex;
   justify-content: space-evenly;
   color: #707070;
   
}
#money-color-tomato{
    background-color: rgba(255, 127, 80, 0.626);
    border: 2px solid tomato;
    border-radius: 10px;
    color:#FF5959;
    padding: 10px 20px;
}
.input-donate{
    padding-top: 15px;
}
.card-info{
    display: flex;
    margin-top: 150px;
}
.card-width{
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{ 
    width: 80%;
    border-radius: 20PX;
}
.donation{
    display: flex;
    margin-top: 15%;
}